.landing{
    background-color: white;
    height: 100vh;
}
.swiper {
    width: 100%;
    height: 100%;
  
   
  }
  
  .swiper-slide {

    width: 100%;
    height: 100%;
  
  }
  .mySwiper .swiper-button-prev,
  .mySwiper .swiper-button-next {
    color:rgb(2, 2, 159); /* Change this to the desired color */
    font-weight: 600;
  }
  
  .swiper-slide div{
    width: 100%;
    height: 100%;
    background-size:cover;
    background-repeat: no-repeat;
  }
  .test{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    background:linear-gradient(135deg ,rgba(0, 0, 0, 0.842),rgba(80, 80, 80, 0.612));
  }
.test h1{
    font-size: 3.75rem;
}
.test button{
    padding: 1rem 2.5rem;
    background-color: transparent;
    color: white;
    text-transform: uppercase;
    border: 2px solid white;
    font-weight: 600;
    letter-spacing: 1px;
}